@font-face {
  font-family: 'Rockwell';
  font-display: fallback;
  src:  url('../_fonts/Rockwell-Regular-Font.woff2') format('woff2'),
        url('../_fonts/Rockwell-Regular-Font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
