@import './fonts';

body {
  font-family: 'Rockwell', sans-serif;
  .hello {
    color: red;
    position: relative;
    
    &::after {
      background: url('../_images/icon.png') no-repeat;
      content: '';
      position: absolute;
      height: 100%;
      width: 20px;
    }
  }
}